.supage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #3c84c3;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.signup-box {
  width: 50%;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
}

.box-content {
  cursor: pointer;
}

/* Add additional styling as needed */
